version: "3.9"

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: house-price-api
    ports:
      - "8000:8000"

  app:
    build:
      context: .
      dockerfile: Dockerfile   # your Streamlit Dockerfile
    container_name: house-price-app
    ports:
      - "8501:8501"
    depends_on:
      - api